Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, rust-fmt, rust-clippy, swiftformat

.pre-commit-config.yaml:

exclude: ^(.idea|.vscode)/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    # https://github.com/pre-commit/pre-commit-hooks
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
      - id: shfmt

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.288
    hooks:
      - id: ruff
        name: python ruff
        files: ^othello_python/
        args: [--fix, --exit-non-zero-on-fix, --config, othello_python/pyproject.toml]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black
        name: python black
        language_version: python3.11
        files: ^othello_python/
        args: [--config, othello_python/pyproject.toml]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: python isort
        files: ^othello_python/
        args: [--settings-path, othello_python/pyproject.toml]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        name: python pyupgrade
        files: ^othello_python/
        args: [--py39-plus]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        name: C++ clang-format
        files: ^othello_cpp/

  - repo: local
    hooks:
      - id: gofmt
        name: go format
        description: Run gofmt on files included in the commit.
        entry: bash -c 'cd othello_go && gofmt -s -l'
        pass_filenames: true
        types: [file, go]
        language: system
        files: ^othello_go/

      - id: rust-fmt
        name: rust format
        description: Run cargo fmt on files included in the commit.
        entry: bash -c 'cd othello_rust && cargo fmt'
        pass_filenames: true
        types: [file, rust]
        language: system
        files: ^othello_rust/

      - id: rust-clippy
        name: rust lint
        description: Run cargo clippy on files included in the commit.
        entry: bash -c 'cd othello_rust && cargo clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^othello_rust/

      - id: swiftformat
        name: swift format
        description: Run swiftformat on files included in the commit.
        entry: bash -c 'cd othello_swift && swiftformat --lint .'
        language: system
        files: ^othello_swift/

small improvements to main readme
  README.md
Due: none

improvements to csharp implementation to match others
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Util.cs
Due: none

c# fixes
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Util.cs
Due: none

remove outdated todo
  othello_csharp/Othello/Util.cs
Due: none

Update C# project to C# 11, dotnet 7.0 and Pastel packege
  othello_csharp/Othello/Othello.csproj
Due: none

use csharpier for formatting
  othello_csharp/.csharpierrc
  othello_csharp/Othello/Board.cs
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Util.cs
  othello_csharp/README.md
Due: none

update C# info in main readme
  README.md
Due: none

fix typo
  README.md
Due: none

c#: fix counter for played games
  othello_csharp/Othello/Othello.cs
Due: none

c#: syntax improvements
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Player.cs
  othello_csharp/Othello/Util.cs
Due: none

c#: add version number to project info
  othello_csharp/Othello/Othello.csproj
Due: none

silence warning for output option
  othello_csharp/build.sh
Due: none

move version info to common.sh
  common.sh
  othello_swift/build.sh
Due: swiftformat

use indices list to match other implementations
  othello_rust/src/board.rs
Due: rust-fmt, rust-clippy

add version.py for python and update bash script
  README.md
  othello_python/othello.sh
  othello_python/othello/version.py
  othello_python/pyproject.toml
Due: none

improve build scripts
  othello_cpp/build.sh
  othello_csharp/build.sh
  othello_go/build.sh
Due: none

use python version definitions
  othello_python/othello/othello.py
  othello_python/othello/utils.py
  othello_python/othello/version.py
Due: none

cargo update
  othello_rust/Cargo.lock
Due: none

fix reference usage
  othello_rust/src/board.rs
Due: rust-fmt, rust-clippy

update rust project version
  othello_rust/Cargo.lock
  othello_rust/Cargo.toml
Due: none

add version.go
  othello_go/main.go
  othello_go/othello/utils.go
  othello_go/othello/version.go
  othello_go/update_version.sh
Due: gofmt

read current version number in script
  othello_go/update_version.sh
Due: none

improve version script
  othello_go/othello/version.go
  othello_go/update_version.sh
Due: gofmt

update readme with version number info
  othello_go/README.md
Due: none

update readme with added version file
  README.md
Due: none

add version file for c#
  README.md
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Othello.csproj
  othello_csharp/Othello/Version.cs
  othello_csharp/build.sh
Due: none

fix clippy warning for partial ord
  othello_rust/src/utils.rs
Due: rust-fmt, rust-clippy

add rustc info to version print
  othello_rust/src/main.rs
Due: rust-fmt, rust-clippy

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

more pythonic sum calculation even though it adds an extra iteration
  othello_python/othello/board.py
Due: none

Add DEFAULT_BOARD_SIZE constant
  othello_cpp/src/colorprint.hpp
  othello_cpp/src/othello.cpp
  othello_cpp/src/player.cpp
  othello_cpp/src/utils.hpp
  othello_csharp/Othello/ColorPrint.cs
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Player.cs
  othello_go/othello/othello.go
  othello_go/othello/utils.go
  othello_python/othello/othello.py
  othello_python/othello/utils.py
  othello_rust/src/othello.rs
  othello_rust/src/utils.rs
  othello_swift/Sources/othello_swift/main.swift
  othello_swift/Sources/othello_swift/othello.swift
  othello_swift/Sources/othello_swift/utils.swift
Due: gofmt, rust-fmt, rust-clippy, swiftformat

fix clangformat include group categories
  othello_cpp/.clang-format
Due: none

use camelCase for Swift
  othello_swift/Sources/othello_swift/board.swift
  othello_swift/Sources/othello_swift/colorprint.swift
  othello_swift/Sources/othello_swift/main.swift
  othello_swift/Sources/othello_swift/othello.swift
  othello_swift/Sources/othello_swift/player.swift
  othello_swift/Sources/othello_swift/utils.swift
Due: swiftformat

unify docstring
  othello_cpp/src/utils.hpp
  othello_csharp/Othello/Util.cs
  othello_go/othello/utils.go
  othello_python/othello/utils.py
  othello_rust/src/utils.rs
Due: gofmt, rust-fmt, rust-clippy

small fixes
  .pre-commit-config.yaml
  othello_cpp/CMakeLists.txt
  othello_cpp/src/colorprint.hpp
  othello_cpp/src/main.cpp
  othello_cpp/src/version.hpp
  othello_csharp/Othello/Version.cs
  othello_python/othello/colorprint.py
  othello_swift/Sources/BuildInfo/include/version.h
  othello_swift/Sources/othello_swift/colorprint.swift
  othello_swift/Sources/othello_swift/main.swift
Due: swiftformat

code improvements and unification
  othello_cpp/src/colorprint.hpp
  othello_csharp/Othello/Board.cs
  othello_csharp/Othello/ColorPrint.cs
  othello_csharp/Othello/Util.cs
  othello_python/othello/colorprint.py
  othello_rust/src/colorprint.rs
  othello_swift/Sources/othello_swift/colorprint.swift
Due: rust-fmt, rust-clippy, swiftformat

unify version info output
  build_all.sh
  othello_cpp/CMakeLists.txt
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Version.cs
  othello_go/build.sh
  othello_go/othello/utils.go
  othello_go/othello/version.go
  othello_go/update_version.sh
  othello_python/othello.sh
  othello_python/othello/othello.py
  othello_python/othello/version.py
  othello_rust/src/main.rs
  othello_swift/Sources/BuildInfo/include/version.h
  othello_swift/Sources/othello_swift/utils.swift
Due: gofmt, rust-fmt, rust-clippy, swiftformat

version updates and fixes
  othello_cpp/CMakeLists.txt
  othello_csharp/Othello/Othello.csproj
  othello_csharp/Othello/Version.cs
  othello_go/othello/version.go
  othello_python/othello.sh
  othello_python/othello/othello.py
  othello_python/othello/utils.py
  othello_python/othello/version.py
  othello_swift/Sources/BuildInfo/include/version.h
Due: gofmt, swiftformat

comment improvements
  othello_cpp/src/board.cpp
  othello_go/othello/board.go
  othello_python/othello/board.py
  othello_rust/src/board.rs
Due: gofmt, rust-fmt, rust-clippy
