Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, rust-fmt, rust-clippy, swiftformat

.pre-commit-config.yaml:

exclude: ^(.idea|.vscode)/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    # https://github.com/pre-commit/pre-commit-hooks
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
      - id: shfmt

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.288
    hooks:
      - id: ruff
        name: python ruff
        files: ^othello_python/
        args: [--fix, --exit-non-zero-on-fix, --config, othello_python/pyproject.toml]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black
        name: python black
        language_version: python3.11
        files: ^othello_python/
        args: [--config, othello_python/pyproject.toml]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: python isort
        files: ^othello_python/
        args: [--settings-path, othello_python/pyproject.toml]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        name: python pyupgrade
        files: ^othello_python/
        args: [--py39-plus]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        name: C++ clang-format
        files: ^othello_cpp/

  - repo: local
    hooks:
      - id: gofmt
        name: go format
        description: Run gofmt on files included in the commit.
        entry: bash -c 'cd othello_go && gofmt -s -l'
        pass_filenames: true
        types: [file, go]
        language: system
        files: ^othello_go/

      - id: rust-fmt
        name: rust format
        description: Run cargo fmt on files included in the commit.
        entry: bash -c 'cd othello_rust && cargo fmt'
        pass_filenames: true
        types: [file, rust]
        language: system
        files: ^othello_rust/

      - id: rust-clippy
        name: rust lint
        description: Run cargo clippy on files included in the commit.
        entry: bash -c 'cd othello_rust && cargo clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^othello_rust/

      - id: swiftformat
        name: swift format
        description: Run swiftformat on files included in the commit.
        entry: bash -c 'cd othello_swift && swiftformat --lint .'
        language: system
        files: ^othello_swift/

swift: fix sha256 calculation
  othello_swift/Sources/BuildInfo/include/version.h
  othello_swift/Sources/othello_swift/utils.swift
Due: swiftformat

use swift-crypto for cross-platform support
  othello_swift/Package.resolved
  othello_swift/Package.swift
  othello_swift/README.md
  othello_swift/Sources/BuildInfo/include/version.h
  othello_swift/Sources/othello_swift/utils.swift
Due: swiftformat

swift: use argument-parser library
  othello_swift/Sources/othello_swift/main.swift
Due: swiftformat

kotlin: new features
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
  othello_kotlin/app/src/main/kotlin/othello/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello/Player.kt
  othello_kotlin/app/src/main/kotlin/othello/Utils.kt
Due: none

kotlin: increment version
  othello_kotlin/app/build.gradle.kts
Due: none

kotlin: finalize new features
  othello_kotlin/app/src/main/kotlin/othello/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello/Utils.kt
Due: none

rename variable
  othello_cpp/src/main.cpp
  othello_cpp/src/othello.cpp
  othello_cpp/src/utils.hpp
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Utils.cs
  othello_go/othello/othello.go
  othello_go/othello/utils.go
  othello_kotlin/app/src/main/kotlin/othello/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello/Utils.kt
  othello_python/othello/othello.py
  othello_python/othello/utils.py
  othello_rust/src/main.rs
  othello_rust/src/othello.rs
  othello_rust/src/utils.rs
  othello_swift/Sources/othello_swift/main.swift
  othello_swift/Sources/othello_swift/othello.swift
  othello_swift/Sources/othello_swift/utils.swift
Due: gofmt, rust-fmt, rust-clippy, swiftformat

update black
  .pre-commit-config.yaml
  othello_python/poetry.lock
  othello_python/pyproject.toml
Due: none

format code
  .pre-commit-config.yaml
  othello_csharp/Othello/Board.cs
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Player.cs
  othello_csharp/Othello/Utils.cs
  othello_go/othello/utils.go
Due: gofmt

kotlin: use clikt for cli
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello/Main.kt
  othello_kotlin/app/src/main/kotlin/othello/Othello.kt
Due: none

kotlin: update readme
  othello_kotlin/README.md
Due: none

kotlin: bump version
  othello_kotlin/app/build.gradle.kts
Due: none

replace java.awt.color with a custom ansicolor enum
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
  othello_kotlin/app/src/main/kotlin/othello/ColorPrint.kt
  othello_kotlin/app/src/main/kotlin/othello/Main.kt
  othello_kotlin/app/src/main/kotlin/othello/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello/Player.kt
  othello_kotlin/app/src/main/kotlin/othello/Utils.kt
Due: none

format code
  othello_kotlin/app/src/main/kotlin/othello/Main.kt
Due: none

pre-commit update
  .pre-commit-config.yaml
Due: none

update ruff
  .pre-commit-config.yaml
  othello_python/poetry.lock
Due: none

update to kotlin 1.9.20
  othello_kotlin/app/build.gradle.kts
Due: none

update gradle
  othello_kotlin/gradlew
Due: none

use Okio for hash calculation for enabling multiplatform in future
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello/Utils.kt
Due: none

reduce java usage
  othello_kotlin/app/src/main/kotlin/othello/Utils.kt
Due: none

use kotlin standard stuff instead of java
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
  othello_kotlin/app/src/main/kotlin/othello/Player.kt
Due: none

go: use cobra cli
  othello_go/go.mod
  othello_go/go.sum
  othello_go/main.go
Due: gofmt

fix gofmt pre-commit
  .pre-commit-config.yaml
Due: none

update ruff and black
  .pre-commit-config.yaml
Due: none

cpp: use ranges
  othello_cpp/src/board.cpp
  othello_cpp/src/othello.cpp
  othello_cpp/src/player.cpp
Due: none

cpp: bump version
  othello_cpp/CMakeLists.txt
Due: none

cpp: apply suggestions
  othello_cpp/src/board.cpp
  othello_cpp/src/board.hpp
  othello_cpp/src/colorprint.hpp
  othello_cpp/src/main.cpp
  othello_cpp/src/othello.cpp
  othello_cpp/src/player.cpp
  othello_cpp/src/player.hpp
  othello_cpp/src/utils.cpp
  othello_cpp/src/utils.hpp
Due: none

cpp: better help formatting
  othello_cpp/src/main.cpp
Due: none

cpp: more improvements
  othello_cpp/src/player.hpp
  othello_cpp/src/utils.cpp
Due: none

print help after building to check formatting
  othello_cpp/build.sh
  othello_csharp/build.sh
  othello_go/build.sh
  othello_rust/build.sh
  othello_swift/build.sh
Due: swiftformat

add todo for arrow
  othello_kotlin/README.md
Due: none

optimize rust release binary
  othello_rust/.cargo/config
  othello_rust/Cargo.toml
Due: none

update ruff
  .pre-commit-config.yaml
Due: none

run github actions when the config changes
  .github/workflows/black.yml
  .github/workflows/cargo.yml
  .github/workflows/isort.yml
  .github/workflows/ruff.yml
Due: none

update to dotnet 8
  othello_csharp/Othello/Othello.csproj
  othello_csharp/global.json
Due: none

update versions
  othello_csharp/Othello/Version.cs
  othello_python/othello/version.py
  othello_swift/Sources/BuildInfo/include/version.h
Due: swiftformat
