Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, rust-fmt, rust-clippy, swiftformat

gofmt:
  name: go format
  description: Run gofmt on files included in the commit.
  entry: bash -c 'cd othello_go && gofmt -s -l'
  pass_filenames: true
  language: system

rust-fmt:
  name: rust format
  description: Run cargo fmt on files included in the commit.
  entry: bash -c 'cd othello_rust && cargo fmt'
  pass_filenames: true
  language: system

rust-clippy:
  name: rust lint
  description: Run cargo clippy on files included in the commit.
  entry: bash -c 'cd othello_rust && cargo clippy'
  pass_filenames: false
  language: system

swiftformat:
  name: swift format
  description: Run swiftformat on files included in the commit.
  entry: bash -c 'cd othello_swift && swiftformat --lint .'
  language: system

unify naming
  othello_cpp/src/utils.hpp
  othello_csharp/Othello/Board.cs
  othello_csharp/Othello/Util.cs
Due: none

unify naming for variable
  othello_csharp/Othello/Board.cs
  othello_rust/src/board.rs
  othello_swift/Sources/othello_swift/board.swift
Due: rust-fmt, rust-clippy, swiftformat

more code unification
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Player.cs
  othello_csharp/Othello/Version.cs
  othello_python/othello/version.py
  othello_rust/Cargo.lock
  othello_rust/Cargo.toml
  othello_rust/src/player.rs
  othello_swift/Sources/BuildInfo/include/version.h
  othello_swift/Sources/othello_swift/othello.swift
  othello_swift/Sources/othello_swift/player.swift
Due: rust-fmt, rust-clippy, swiftformat

add project version for swift
  othello_swift/Sources/BuildInfo/include/version.h
  othello_swift/Sources/othello_swift/utils.swift
  othello_swift/build.sh
Due: swiftformat

more kotlin implementation
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Board.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/ColorPrint.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Player.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Utils.kt
Due: none

Kotlin chatGPT conversion from C#
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Board.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/ColorPrint.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Player.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Utils.kt
  othello_kotlin/app/src/test/kotlin/othello_kotlin/OthelloTest.kt
Due: none

add code formatting config for kotlin
  othello_kotlin/.editorconfig
Due: none

add kotlin project
  othello_kotlin/.gitattributes
  othello_kotlin/.gitignore
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello_kotlin/App.kt
  othello_kotlin/app/src/test/kotlin/othello_kotlin/AppTest.kt
  othello_kotlin/gradle.properties
  othello_kotlin/gradle/wrapper/gradle-wrapper.jar
  othello_kotlin/gradle/wrapper/gradle-wrapper.properties
  othello_kotlin/gradlew
  othello_kotlin/gradlew.bat
  othello_kotlin/settings.gradle.kts
Due: none

ignore kotlin bin files
  othello_kotlin/.gitignore
Due: none

initial kotlin version
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Board.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/ColorPrint.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Player.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Utils.kt
  othello_kotlin/app/src/test/kotlin/othello_kotlin/OthelloTest.kt
  othello_kotlin/gradle/wrapper/gradle-wrapper.jar
  othello_kotlin/gradle/wrapper/gradle-wrapper.properties
  othello_kotlin/gradlew
Due: none

improve readme
  othello_kotlin/README.md
Due: none

continue kotlin implementation
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Board.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Othello.kt
Due: none

and build script and build standalone jar
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Othello.kt
  othello_kotlin/build.sh
Due: none

update readme
  README.md
  othello_kotlin/README.md
Due: none

ignore jar
  othello_kotlin/.gitignore
Due: none

include build info
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Utils.kt
Due: none

add project version
  othello_kotlin/app/build.gradle.kts
Due: none

finalize docstrings
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Player.kt
Due: none

fix error message
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Player.kt
Due: none

use gradle shadow
  othello_kotlin/README.md
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Utils.kt
  othello_kotlin/build.sh
Due: none

color and string formatting fixes
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Board.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/ColorPrint.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Utils.kt
Due: none

update docstrings and comments
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Board.kt
  othello_kotlin/app/src/main/kotlin/othello_kotlin/ColorPrint.kt
Due: none

rust version info on single line
  othello_csharp/Othello/Version.cs
  othello_go/othello/version.go
  othello_python/othello/version.py
  othello_rust/src/main.rs
  othello_swift/Sources/BuildInfo/include/version.h
Due: gofmt, rust-fmt, rust-clippy, swiftformat

apply code suggestion
  othello_kotlin/app/src/main/kotlin/othello_kotlin/Board.kt
Due: none

rename package to othello
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
  othello_kotlin/app/src/main/kotlin/othello/ColorPrint.kt
  othello_kotlin/app/src/main/kotlin/othello/Othello.kt
  othello_kotlin/app/src/main/kotlin/othello/Player.kt
  othello_kotlin/app/src/main/kotlin/othello/Utils.kt
  othello_kotlin/app/src/test/kotlin/othello/OthelloTest.kt
  othello_kotlin/settings.gradle.kts
Due: none

update editorconfig
  othello_kotlin/.editorconfig
Due: none

format with ktlint
  othello_kotlin/.editorconfig
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
Due: none

mention ktlint in readme
  othello_kotlin/README.md
Due: none

update readme for kotlin implementation
  README.md
Due: none

changes from code review suggestions
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
  othello_kotlin/app/src/main/kotlin/othello/ColorPrint.kt
  othello_kotlin/app/src/main/kotlin/othello/Othello.kt
Due: none

update to kotlin 1.9.10
  othello_kotlin/app/build.gradle.kts
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
Due: none

better variable names
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
Due: none

rust: add more cli options
  othello_rust/Cargo.lock
  othello_rust/src/main.rs
  othello_rust/src/othello.rs
  othello_rust/src/player.rs
  othello_rust/src/utils.rs
Due: rust-fmt, rust-clippy

swap starting positions to match wikipedia info
  othello_cpp/src/board.cpp
  othello_csharp/Othello/Board.cs
  othello_go/othello/board.go
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
  othello_python/othello/board.py
  othello_rust/src/board.rs
  othello_swift/Sources/othello_swift/board.swift
Due: gofmt, rust-fmt, rust-clippy, swiftformat

rust: add game log
  othello_rust/Cargo.lock
  othello_rust/Cargo.toml
  othello_rust/src/board.rs
  othello_rust/src/main.rs
  othello_rust/src/othello.rs
  othello_rust/src/player.rs
  othello_rust/src/utils.rs
Due: rust-fmt, rust-clippy

use plain `pub` instead of `pub(crate)`
  othello_rust/src/board.rs
  othello_rust/src/othello.rs
  othello_rust/src/player.rs
  othello_rust/src/utils.rs
Due: rust-fmt, rust-clippy

rename `print_moves` to `print_possible_moves`
  othello_cpp/src/board.cpp
  othello_cpp/src/board.hpp
  othello_cpp/src/player.cpp
  othello_csharp/Othello/Board.cs
  othello_csharp/Othello/Player.cs
  othello_go/othello/board.go
  othello_go/othello/player.go
  othello_kotlin/app/src/main/kotlin/othello/Board.kt
  othello_kotlin/app/src/main/kotlin/othello/Player.kt
  othello_python/othello/board.py
  othello_rust/src/board.rs
  othello_rust/src/player.rs
Due: gofmt, rust-fmt, rust-clippy

doscstring improvements and unification
  othello_cpp/src/board.cpp
  othello_python/othello/board.py
  othello_rust/src/main.rs
  othello_rust/src/player.rs
  othello_rust/src/utils.rs
Due: rust-fmt, rust-clippy

add python 3.12 to black config
  othello_python/pyproject.toml
Due: none

poetry update
  othello_python/poetry.lock
Due: none

Path conditions:
  gofmt: any of: ^othello_go/ and \.go$ and not (^(.idea|.vscode)/)
  rust-fmt: any of: ^othello_rust/ and \.rs$ and not (^(.idea|.vscode)/)
  rust-clippy: any of: ^othello_rust/ and \.rs$ and not (^(.idea|.vscode)/)
  swiftformat: any of: ^othello_swift/, but not: ^(.idea|.vscode)/
