Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, rust-fmt, rust-clippy, swiftformat

gofmt:
  name: go format
  description: Run gofmt on files included in the commit.
  entry: bash -c 'cd go && gofmt -s -w .'
  pass_filenames: false
  language: system

rust-fmt:
  name: rust format
  description: Run cargo fmt on files included in the commit.
  entry: bash -c 'cd rust && cargo fmt'
  pass_filenames: true
  language: system

rust-clippy:
  name: rust lint
  description: Run cargo clippy on files included in the commit.
  entry: bash -c 'cd rust && cargo clippy'
  pass_filenames: false
  language: system

swiftformat:
  name: swift format
  description: Run swiftformat on files included in the commit.
  entry: bash -c 'cd swift && swiftformat --lint .'
  language: system

zig: full version info
  zig/build.sh
  zig/build.zig.zon
  zig/src/main.zig
  zig/src/version.zig
Due: none

add clojure project
  clojure/.gitignore
  clojure/CHANGELOG.md
  clojure/LICENSE
  clojure/README.md
  clojure/build.clj
  clojure/deps.edn
  clojure/pom.xml
  clojure/src/othello/othello.clj
  clojure/test/othello/othello_test.clj
Due: none

add default working dir to workflow
  .github/workflows/python.yml
Due: none

upgrade to kotlin 2.0.0 and update gradle
  kotlin/app/build.gradle.kts
  kotlin/gradle/wrapper/gradle-wrapper.jar
  kotlin/gradle/wrapper/gradle-wrapper.properties
  kotlin/gradlew
  kotlin/gradlew.bat
Due: none

pre-commit update
  .pre-commit-config.yaml
Due: none

c++: update to fmt 11.0
  cpp/CMakeLists.txt
  cpp/src/colorprint.hpp
Due: none

c++: update to fmt 11.0 (#193)
  cpp/CMakeLists.txt
  cpp/src/colorprint.hpp
Due: none

cpp: fmt 11.0.1
  cpp/CMakeLists.txt
Due: none

updates
  .pre-commit-config.yaml
  python/poetry.lock
  rust/.cargo/config.toml
  rust/Cargo.lock
Due: none

cargo update
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/main.rs
Due: rust-fmt, rust-clippy

cpp: update fmt version
  cpp/CMakeLists.txt
Due: none

set dependabot frequency to daily
  .github/dependabot.yml
Due: none

run new version of csharpier and add install instructions
  csharp/Othello/Board.cs
  csharp/Othello/Othello.cs
  csharp/Othello/Utils.cs
  csharp/README.md
Due: none

poetry update
  python/poetry.lock
Due: none

cargo update
  rust/Cargo.lock
Due: none

enable more clippy lints and forbid unsafe
  rust/Cargo.toml
Due: none

apply clippy lints
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/board.rs
  rust/src/colorprint.rs
  rust/src/othello.rs
  rust/src/player.rs
  rust/src/utils.rs
Due: rust-fmt, rust-clippy

disable lto for rust release binary
  rust/Cargo.toml
Due: none

streamline test case names
  rust/src/board.rs
  rust/src/player.rs
  rust/src/utils.rs
Due: rust-fmt, rust-clippy

move step directions to a static def outside class
  cpp/src/board.cpp
  cpp/src/board.hpp
  rust/src/board.rs
Due: rust-fmt, rust-clippy

rust: simplify string comparison
  rust/src/othello.rs
Due: rust-fmt, rust-clippy

go: move step directions and start using a linter
  go/README.md
  go/othello/board.go
Due: gofmt

update swift packages
  swift/Package.resolved
  swift/Package.swift
  swift/Sources/BuildInfo/include/version.h
  swift/build.sh
Due: swiftformat

run ktlint
  kotlin/app/src/main/kotlin/othello/Board.kt
  kotlin/app/src/main/kotlin/othello/ColorPrint.kt
  kotlin/app/src/main/kotlin/othello/Player.kt
  kotlin/app/src/main/kotlin/othello/Utils.kt
Due: none

kotlin: update to clikt 5 and format code
  kotlin/app/build.gradle.kts
  kotlin/app/src/main/kotlin/othello/Main.kt
  kotlin/gradle/wrapper/gradle-wrapper.jar
  kotlin/gradle/wrapper/gradle-wrapper.properties
Due: none

update editorconfig
  kotlin/.editorconfig
Due: none

rust: use module documentation formatting
  rust/build.rs
  rust/src/board.rs
  rust/src/colorprint.rs
  rust/src/main.rs
  rust/src/othello.rs
  rust/src/player.rs
  rust/src/utils.rs
Due: rust-fmt, rust-clippy

rust: small refactoring
  rust/src/board.rs
  rust/src/main.rs
  rust/src/othello.rs
Due: rust-fmt, rust-clippy

cargo update
  rust/Cargo.lock
  rust/Cargo.toml
Due: none

Path conditions:
  gofmt: any of: ^go/ and \.go$ and not (^(.idea|.vscode)/)
  rust-fmt: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  rust-clippy: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  swiftformat: any of: ^swift/, but not: ^(.idea|.vscode)/
