Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, dotnet, rust-fmt, rust-clippy, swiftformat

.pre-commit-config.yaml:

exclude: ^(.idea|.vscode)/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    # https://github.com/pre-commit/pre-commit-hooks
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
      - id: shfmt

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.9
    hooks:
      - id: ruff
        name: python ruff lint
        files: ^python/
        args: [--fix, --exit-non-zero-on-fix, --config, python/pyproject.toml]
      - id: ruff-format
        name: python ruff format
        files: ^python/
        args: [--check, --config, python/pyproject.toml]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: python isort
        files: ^python/
        args: [--settings-path, python/pyproject.toml]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.6
    hooks:
      - id: clang-format
        name: C++ Clang-format
        files: ^cpp/

  - repo: local
    hooks:
      - id: gofmt
        name: go format
        description: Run gofmt on files included in the commit.
        entry: bash -c 'cd go && gofmt -s -w .'
        pass_filenames: false
        types: [file, go]
        language: system
        files: ^go/

      - id: dotnet
        name: dotnet format
        description: Run dotnet format on files included in the commit.
        entry: bash -c 'cd csharp && dotnet csharpier'
        pass_filenames: false
        types: [file]
        language: system
        files: ^csharp/

      - id: rust-fmt
        name: rust format
        description: Run cargo fmt on files included in the commit.
        entry: bash -c 'cd rust && cargo fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: rust-clippy
        name: rust lint
        description: Run cargo clippy on files included in the commit.
        entry: bash -c 'cd rust && cargo clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: swiftformat
        name: swift format
        description: Run swiftformat on files included in the commit.
        entry: bash -c 'cd swift && swiftformat --lint .'
        language: system
        files: ^swift/

add verbose flag for clang-tidy
  .github/workflows/cmake.yml
  cpp/format.sh
Due: none

remove already installed software
  .github/workflows/cmake.yml
Due: none

re-add openssl
  .github/workflows/cmake.yml
Due: none

update default openssl path on windows
  .github/workflows/cmake.yml
  cpp/CMakeLists.txt
Due: none

build with msvc on windows
  .github/workflows/cmake.yml
  cpp/build.sh
Due: none

tweak naming
  .github/workflows/cmake.yml
Due: none

add test support for build script to reduce script duplication
  .github/workflows/cmake.yml
  cpp/build.sh
  cpp/test.sh
Due: none

add `--no-progress` to choco install
  .github/workflows/cmake.yml
Due: none

cpp: add clang-format to github actions (#295)
  .github/workflows/cmake.yml
  cpp/.clang-format
  cpp/CMakeLists.txt
  cpp/build.sh
  cpp/format.sh
  cpp/test.sh
Due: none

reformat code
  python/othello/board.py
  python/poetry.lock
Due: none

cpp: fix format script for windows
  cpp/format.sh
Due: none

cpp: update fmt lib to 11.1.2
  cpp/CMakeLists.txt
Due: none

cpp: encapsulate arg handling for a nicer interface
  cpp/src/main.cpp
  cpp/src/utils.hpp
Due: none

cpp: pass version info to tests
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Due: none

cargo update
  rust/Cargo.lock
Due: none

fix deprecated code usages
  rust/src/player.rs
Due: rust-fmt, rust-clippy

cpp: update fmt to 11.1.3
  cpp/CMakeLists.txt
Due: none

remove isort
  python/pyproject.toml
Due: none

poetry update
  python/poetry.lock
Due: none

cpp: split settings to separate file
  cpp/CMakeLists.txt
  cpp/README.md
  cpp/src/board.hpp
  cpp/src/main.cpp
  cpp/src/player.hpp
  cpp/src/settings.hpp
  cpp/src/utils.hpp
Due: none

cargo update
  rust/Cargo.lock
  rust/Cargo.toml
Due: none

cpp: tweak clangformat style, break before closing parenthesis
  cpp/.clang-format
  cpp/src/board.cpp
  cpp/src/main.cpp
  cpp/src/othello.cpp
  cpp/src/othello.hpp
  cpp/src/player.cpp
  cpp/src/player.hpp
  cpp/src/settings.hpp
  cpp/src/utils.cpp
  cpp/src/utils.hpp
Due: none

kotlin: add check mode option
  kotlin/app/src/main/kotlin/othello/Main.kt
  kotlin/app/src/main/kotlin/othello/Othello.kt
  kotlin/app/src/main/kotlin/othello/Player.kt
  kotlin/app/src/main/kotlin/othello/Settings.kt
  kotlin/app/src/main/kotlin/othello/Utils.kt
Due: none

rust: split settings to separate module
  rust/src/main.rs
  rust/src/othello.rs
  rust/src/player.rs
  rust/src/utils.rs
Due: rust-fmt, rust-clippy

rust: return reference to move to avoid clone
  rust/src/player.rs
Due: rust-fmt, rust-clippy

kotlin: run ktlint
  kotlin/app/src/main/kotlin/othello/Othello.kt
Due: none

rust: separate version module
  rust/src/main.rs
  rust/src/version.rs
Due: rust-fmt, rust-clippy

cpp: update arg help
  cpp/src/main.cpp
  rust/src/main.rs
Due: rust-fmt, rust-clippy

python: separate settings
  python/othello/othello.py
  python/othello/player.py
  python/othello/settings.py
  python/othello/utils.py
  python/othello/version.py
  python/poetry.lock
  python/pyproject.toml
Due: none

rust: add missing settings.rs
  rust/src/settings.rs
Due: rust-fmt, rust-clippy

rust: sort clap derive
  rust/src/main.rs
Due: rust-fmt, rust-clippy

update help outputs
  kotlin/README.md
  kotlin/app/src/main/kotlin/othello/Main.kt
  python/README.md
  python/othello/othello.py
  python/othello/version.py
  rust/README.md
Due: none

cpp: find all files for clang-format in format script
  cpp/format.sh
  cpp/tests/test_utils.cpp
Due: none

swift: separate settings and update cli help
  swift/README.md
  swift/Sources/BuildInfo/include/version.h
  swift/Sources/othello_swift/main.swift
  swift/Sources/othello_swift/settings.swift
  swift/Sources/othello_swift/utils.swift
Due: swiftformat

kotlin: sort settings members
  kotlin/app/src/main/kotlin/othello/Settings.kt
Due: none

swift: format code
  swift/Sources/othello_swift/main.swift
  swift/Sources/othello_swift/settings.swift
Due: swiftformat

cpp: split utils to types
  cpp/CMakeLists.txt
  cpp/src/types.cpp
  cpp/src/types.hpp
  cpp/src/utils.cpp
  cpp/src/utils.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_types.cpp
  cpp/tests/test_utils.cpp
Due: none

rust: split utils to types
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/board.rs
  rust/src/main.rs
  rust/src/othello.rs
  rust/src/player.rs
  rust/src/types.rs
  rust/src/utils.rs
Due: rust-fmt, rust-clippy

kotlin: doc formatting
  kotlin/app/src/main/kotlin/othello/Utils.kt
Due: none
