Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, dotnet, rust-fmt, rust-clippy, swiftformat

.pre-commit-config.yaml:

exclude: ^(.idea|.vscode)/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    # https://github.com/pre-commit/pre-commit-hooks
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
      - id: shfmt

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.9
    hooks:
      - id: ruff
        name: python ruff lint
        files: ^python/
        args: [--fix, --exit-non-zero-on-fix, --config, python/pyproject.toml]
      - id: ruff-format
        name: python ruff format
        files: ^python/
        args: [--check, --config, python/pyproject.toml]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: python isort
        files: ^python/
        args: [--settings-path, python/pyproject.toml]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.6
    hooks:
      - id: clang-format
        name: C++ Clang-format
        files: ^cpp/

  - repo: local
    hooks:
      - id: gofmt
        name: go format
        description: Run gofmt on files included in the commit.
        entry: bash -c 'cd go && gofmt -s -w .'
        pass_filenames: false
        types: [file, go]
        language: system
        files: ^go/

      - id: dotnet
        name: dotnet format
        description: Run dotnet format on files included in the commit.
        entry: bash -c 'cd csharp && dotnet csharpier'
        pass_filenames: false
        types: [file]
        language: system
        files: ^csharp/

      - id: rust-fmt
        name: rust format
        description: Run cargo fmt on files included in the commit.
        entry: bash -c 'cd rust && cargo fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: rust-clippy
        name: rust lint
        description: Run cargo clippy on files included in the commit.
        entry: bash -c 'cd rust && cargo clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: swiftformat
        name: swift format
        description: Run swiftformat on files included in the commit.
        entry: bash -c 'cd swift && swiftformat --lint .'
        language: system
        files: ^swift/

update brew to get latest clang-format version
  .github/workflows/cmake.yml
Due: none

quiet brew update
  .github/workflows/cmake.yml
Due: none

kotlin: add script to run formatting
  kotlin/app/build.gradle.kts
  kotlin/format.sh
Due: none

kotlin: update gradlew
  kotlin/gradle/wrapper/gradle-wrapper.properties
  kotlin/gradlew
Due: none

kotlin: tweak main
  kotlin/app/src/main/kotlin/othello/Main.kt
Due: none

kotlin: convert project to use kotlin native / multiplatform
  kotlin/app/build.gradle.kts
  kotlin/gradle.properties
Due: none

java: add rest of the classes
  java/app/src/main/java/othello/Board.java
  java/app/src/main/java/othello/Main.java
  java/app/src/main/java/othello/Models.java
  java/app/src/main/java/othello/Othello.java
  java/app/src/main/java/othello/Player.java
  java/app/src/main/java/othello/Settings.java
Due: none

java: use colorprint and add utils
  java/app/src/main/java/othello/Main.java
  java/app/src/main/java/othello/Utils.java
Due: none

java: start implementation, add CLI args and settings
  java/.editorconfig
  java/app/build.gradle.kts
  java/app/src/main/java/othello/App.java
  java/app/src/main/java/othello/Main.java
  java/app/src/main/java/othello/Settings.java
  java/app/src/test/java/othello/AppTest.java
  java/app/src/test/java/othello/MainTest.java
Due: none

java: add gradle project
  java/.gitattributes
  java/.gitignore
  java/README.md
  java/app/build.gradle.kts
  java/app/src/main/java/othello/App.java
  java/app/src/test/java/othello/AppTest.java
  java/gradle.properties
  java/gradle/libs.versions.toml
  java/gradle/wrapper/gradle-wrapper.jar
  java/gradle/wrapper/gradle-wrapper.properties
  java/gradlew
  java/gradlew.bat
  java/settings.gradle.kts
Due: none

java: implement colorprint
  java/app/src/main/java/othello/AnsiColor.java
  java/app/src/main/java/othello/ColorPrint.java
  java/app/src/main/java/othello/Main.java
Due: none

pre-commit run
  java/.gitattributes
  java/gradle.properties
  java/gradlew
Due: none

swift: move default settings
  swift/Sources/BuildInfo/include/version.h
  swift/Sources/othello_swift/settings.swift
  swift/Sources/othello_swift/utils.swift
Due: swiftformat

pre-commit update
  .pre-commit-config.yaml
Due: none

poetry update
  python/poetry.lock
Due: none

cargo update
  rust/Cargo.lock
Due: none

swift: include build version info as swift code
  swift/Package.swift
  swift/Sources/BuildInfo/include/version.h
  swift/Sources/BuildInfo/version.c
  swift/Sources/Othello/board.swift
  swift/Sources/Othello/colorprint.swift
  swift/Sources/Othello/main.swift
  swift/Sources/Othello/models.swift
  swift/Sources/Othello/othello.swift
  swift/Sources/Othello/player.swift
  swift/Sources/Othello/settings.swift
  swift/Sources/Othello/utils.swift
  swift/Sources/Othello/version.swift
  swift/Sources/VersionInfo/versionInfo.swift
  swift/build.sh
Due: swiftformat

update and unify build info naming
  README.md
  common.sh
  cpp/CMakeLists.txt
  cpp/build.sh
  cpp/src/utils.hpp
  cpp/src/version.hpp
  csharp/Othello/Version.cs
  csharp/build.sh
  go/build.sh
  go/othello/version.go
  python/othello/utils.py
  python/othello/version.py
  python/othello_python.sh
  rust/build.rs
  rust/src/version.rs
  swift/Sources/Othello/version.swift
  swift/Sources/VersionInfo/versionInfo.swift
  swift/build.sh
Due: gofmt, dotnet, rust-fmt, rust-clippy, swiftformat

print version info in some build scripts that write info to file
  common.sh
  csharp/Othello/Version.cs
  csharp/build.sh
  go/build.sh
  kotlin/gradle/wrapper/gradle-wrapper.jar
  kotlin/gradlew
  python/othello/version.py
  swift/Sources/VersionInfo/versionInfo.swift
  swift/build.sh
Due: dotnet, swiftformat

rust: add inline hint
  rust/src/version.rs
Due: rust-fmt, rust-clippy

fix windows platform detection
  common.sh
Due: none

cpp: use concepts for `print` and `to_string`
  cpp/src/utils.hpp
Due: none

rust 1.86 lint fixes
  rust/src/player.rs
Due: rust-fmt, rust-clippy
