Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, java, kotlin, python, rust-fmt, rust-clippy, swiftformat

gofmt:
  name: go format
  description: Run gofmt on files included in the commit.
  entry: sh -c 'cd go && gofmt -s -w .'
  pass_filenames: false
  language: system

java:
  name: Java format
  description: Run spotless format on files included in the commit.
  entry: sh -c 'cd java && ./gradlew spotlessApply'
  pass_filenames: false
  language: system

kotlin:
  name: Kotlin format
  description: Run spotless format on files included in the commit.
  entry: sh -c 'cd kotlin && ./gradlew spotlessApply'
  pass_filenames: false
  language: system

python:
  name: Python Ruff
  description: Run Ruff format and lint on files included in the commit.
  entry: sh -c 'cd python && uv run ruff format && uv run ruff check --fix'
  pass_filenames: false
  language: system

rust-fmt:
  name: Rust format
  description: Run cargo fmt on files included in the commit.
  entry: sh -c 'cd rust && cargo fmt'
  pass_filenames: false
  language: system

rust-clippy:
  name: Rust lint
  description: Run cargo clippy on files included in the commit.
  entry: sh -c 'cd rust && cargo clippy'
  pass_filenames: false
  language: system

swiftformat:
  name: Swift format
  description: Run swiftformat on files included in the commit.
  entry: sh -c 'cd swift && command -v swiftformat >/dev/null 2>&1 && swiftformat --lint . || :'
  pass_filenames: false
  language: system

Add unification notes, plan, and output comparison script
  UNIFICATION_NOTES.md
  UNIFICATION_PLAN.md
  compare_output.sh
Due: none

swift: unify with rust reference implementation
  swift/Package.swift
  swift/Sources/Othello/board.swift
  swift/Sources/Othello/colorprint.swift
  swift/Sources/Othello/main.swift
  swift/Sources/Othello/models.swift
  swift/Sources/Othello/othello.swift
  swift/Sources/Othello/player.swift
  swift/Sources/Othello/settings.swift
  swift/Sources/Othello/utils.swift
  swift/Sources/Othello/version.swift
  swift/Sources/OthelloLib/board.swift
  swift/Sources/OthelloLib/colorprint.swift
  swift/Sources/OthelloLib/models.swift
  swift/Sources/OthelloLib/othello.swift
  swift/Sources/OthelloLib/player.swift
  swift/Sources/OthelloLib/settings.swift
  swift/Sources/OthelloLib/utils.swift
  swift/Sources/OthelloLib/version.swift
  swift/Tests/OthelloTests/BoardTests.swift
  swift/Tests/OthelloTests/ModelsTests.swift
  swift/Tests/OthelloTests/PlayerTests.swift
Due: swiftformat

python: unify with rust reference implementation
  python/othello/board.py
  python/othello/colorprint.py
  python/othello/models.py
  python/othello/othello.py
  python/othello/player.py
  python/othello/settings.py
  python/othello/utils.py
  python/othello/version.py
  python/othello_python.sh
  python/tests/test_models.py
  python/tests/test_othello.py
  python/tests/test_player.py
Due: python

typescript: update
  typescript/package-lock.json
Due: none

cpp: streamline prints
  cpp/src/board.cpp
  cpp/src/colorprint.hpp
  cpp/src/main.cpp
  cpp/src/models.cpp
  cpp/src/othello.cpp
  cpp/src/player.cpp
  cpp/src/player.hpp
  cpp/src/settings.hpp
Due: none

rust: cargo update
  rust/Cargo.toml
Due: none

typescript: migrate to oxfmt and oxlint
  typescript/.gitignore
  typescript/.oxfmtrc.json
  typescript/.oxlintrc.json
  typescript/.prettierignore
  typescript/bun.lock
  typescript/eslint.config.mjs
  typescript/package-lock.json
  typescript/package.json
  typescript/src/othello.ts
  typescript/tests/player.test.ts
  typescript/tsconfig.json
Due: none

bump major version for all implementations
  cpp/CMakeLists.txt
  csharp/Othello/Board.cs
  csharp/Othello/Othello.csproj
  go/README.md
  go/VERSION
  go/build.sh
  go/othello/board.go
  java/build.gradle.kts
  kotlin-native/build.gradle.kts
  kotlin/build.gradle.kts
  python/pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/board.rs
  swift/VERSION
Due: gofmt, kotlin, rust-fmt, rust-clippy

python: fix uv warning about build system version upper bound
  python/pyproject.toml
  python/uv.lock
Due: none

typescript: full implementation
  .pre-commit-config.yaml
  UNIFICATION_NOTES.md
  check.sh
  compare_output.sh
  typescript/.oxfmtrc.json
  typescript/.oxlintrc.json
  typescript/README.md
  typescript/build.sh
  typescript/othello_typescript.sh
  typescript/package.json
  typescript/src/board.ts
  typescript/src/colorprint.ts
  typescript/src/main.ts
  typescript/src/models.ts
  typescript/src/othello.ts
  typescript/src/player.ts
  typescript/src/settings.ts
  typescript/src/utils.ts
  typescript/src/version.ts
  typescript/tests/board.test.ts
  typescript/tests/models.test.ts
  typescript/tests/player.test.ts
  typescript/tests/utils.test.ts
  typescript/tsconfig.json
Due: none

ci: change pre-commit to prek
  .pre-commit-config.yaml
Due: none

improve version info handling
  build.sh
  cpp/build.sh
  csharp/Othello/Othello.csproj
  csharp/Othello/VersionInfo.cs
  csharp/build.sh
  go/build.sh
  go/othello/version.go
  java/build.sh
  kotlin-native/build.sh
  kotlin/build.sh
  python/README.md
  python/build.sh
  python/othello/version.py
  python/othello_python.sh
  rust/build.sh
  swift/Plugins/VersionGeneratorPlugin/generate_version.sh
  swift/Sources/OthelloLib/version.swift
  swift/build.sh
  typescript/src/version.ts
Due: gofmt, python, swiftformat

update docs
  README.md
  UNIFICATION_NOTES.md
  UNIFICATION_PLAN.md
  csharp/Othello/Main.cs
Due: none

fix gradle deprecation warnings, enable configuration cache, java 25
  .github/workflows/java.yml
  README.md
  java/build.gradle.kts
  java/src/main/java/othello/Othello.java
  java/src/main/java/othello/Player.java
  kotlin-native/build.gradle.kts
  kotlin-native/gradle.properties
  kotlin-native/gradle/libs.versions.toml
  kotlin/build.gradle.kts
  kotlin/gradle.properties
Due: java, kotlin

rust: add colorprint helper macros
  rust/build.rs
  rust/src/board.rs
  rust/src/colorprint.rs
  rust/src/main.rs
  rust/src/othello.rs
  rust/src/player.rs
  rust/src/version.rs
Due: rust-fmt, rust-clippy

typescript: add typecheck
  build.sh
  python/othello/version.py
  typescript/README.md
  typescript/package.json
  typescript/src/version.ts
  typescript/tsconfig.json
Due: python

kotlin: fix ci builds on linux and windows
  kotlin-native/build.gradle.kts
  kotlin-native/gradle.properties
Due: none

rust: fix linux ci build
  .github/workflows/rust.yml
Due: none

cpp: don't use native arch on ci
  cpp/CMakeLists.txt
Due: none

kotlin: more ci fixes
  kotlin-native/build.gradle.kts
Due: none

delete zig
  README.md
  zig/.gitignore
Due: none

cargo update
  rust/Cargo.lock
  rust/Cargo.toml
Due: none

Path conditions:
  gofmt: any of: ^go/ and \.go$ and not (^(.idea|.vscode)/)
  java: any of: ^java/ and \.java$ and not (^(.idea|.vscode)/)
  kotlin: any of: ^kotlin/ and \.(kt|kts)$ and not (^(.idea|.vscode)/)
  python: any of: ^python/ and \.py$ and not (^(.idea|.vscode)/)
  rust-fmt: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  rust-clippy: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  swiftformat: any of: ^swift/ and \.swift$ and not (^(.idea|.vscode)/)
