Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, dotnet, rust-fmt, rust-clippy, swiftformat

.pre-commit-config.yaml:

exclude: ^(.idea|.vscode)/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    # https://github.com/pre-commit/pre-commit-hooks
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
      - id: shfmt

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.9
    hooks:
      - id: ruff
        name: python ruff lint
        files: ^python/
        args: [--fix, --exit-non-zero-on-fix, --config, python/pyproject.toml]
      - id: ruff-format
        name: python ruff format
        files: ^python/
        args: [--check, --config, python/pyproject.toml]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: python isort
        files: ^python/
        args: [--settings-path, python/pyproject.toml]

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.6
    hooks:
      - id: clang-format
        name: C++ Clang-format
        files: ^cpp/

  - repo: local
    hooks:
      - id: gofmt
        name: go format
        description: Run gofmt on files included in the commit.
        entry: bash -c 'cd go && gofmt -s -w .'
        pass_filenames: false
        types: [file, go]
        language: system
        files: ^go/

      - id: dotnet
        name: dotnet format
        description: Run dotnet format on files included in the commit.
        entry: bash -c 'cd csharp && dotnet csharpier'
        pass_filenames: false
        types: [file]
        language: system
        files: ^csharp/

      - id: rust-fmt
        name: rust format
        description: Run cargo fmt on files included in the commit.
        entry: bash -c 'cd rust && cargo fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: rust-clippy
        name: rust lint
        description: Run cargo clippy on files included in the commit.
        entry: bash -c 'cd rust && cargo clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: swiftformat
        name: swift format
        description: Run swiftformat on files included in the commit.
        entry: bash -c 'cd swift && swiftformat --lint .'
        language: system
        files: ^swift/

zig: add colorprint
  zig/README.md
  zig/src/colorprint.zig
  zig/src/main.zig
Due: none

add zig project
  othello_zig/.gitignore
  othello_zig/README.md
  othello_zig/build.zig
  othello_zig/src/main.zig
Due: none

zig: add basic cli
  zig/build.sh
  zig/build.zig
  zig/build.zig.zon
  zig/src/main.zig
  zig/src/version.zig
Due: none

zig: add all cli arguments
  zig/src/main.zig
  zig/src/utils.zig
  zig/src/version.zig
Due: none

zig: full version info
  zig/build.sh
  zig/build.zig.zon
  zig/src/main.zig
  zig/src/version.zig
Due: none

create haskell project
  othello_haskell/.gitignore
  othello_haskell/CHANGELOG.md
  othello_haskell/LICENSE
  othello_haskell/README.md
  othello_haskell/app/ColorPrint.hs
  othello_haskell/app/Main.hs
  othello_haskell/othello.cabal
Due: none

add size variables
  othello_haskell/app/Main.hs
Due: none

update base to fix build
  othello_haskell/othello.cabal
Due: none

fix file extension in readme
  othello_haskell/README.md
Due: none

rename dir
  haskell/.gitignore
  haskell/CHANGELOG.md
  haskell/LICENSE
  haskell/README.md
  haskell/app/ColorPrint.hs
  haskell/app/Main.hs
  haskell/build.sh
  haskell/othello.cabal
Due: none

print help after building to check formatting
  othello_haskell/build.sh
Due: none

copy haskell executable in build script
  othello_haskell/build.sh
Due: none

add build script
  othello_haskell/build.sh
Due: none

improve help formatting
  othello_haskell/app/Main.hs
Due: none

add clojure project
  clojure/.gitignore
  clojure/CHANGELOG.md
  clojure/LICENSE
  clojure/README.md
  clojure/build.clj
  clojure/deps.edn
  clojure/pom.xml
  clojure/src/othello/othello.clj
  clojure/test/othello/othello_test.clj
Due: none

fix System.CommandLine API changes
  csharp/Othello/Othello.cs
  csharp/Othello/Othello.csproj
Due: dotnet

remove default version flag
  csharp/Othello/Othello.cs
Due: dotnet

improve variable naming
  csharp/Othello/Othello.cs
Due: dotnet

C#: Fix System.CommandLine API changes (#499)
  csharp/Othello/Othello.cs
  csharp/Othello/Othello.csproj
Due: dotnet

swift: update to swift 6.2
  swift/Package.resolved
  swift/Package.swift
  swift/Sources/Othello/main.swift
  swift/Sources/VersionInfo/versionInfo.swift
  swift/build.sh
Due: swiftformat

cpp: update fmt to 12.0.0 and simplify git commands
  cpp/CMakeLists.txt
Due: none

cpp: break template declarations
  cpp/.clang-format
  cpp/src/board.hpp
  cpp/src/colorprint.hpp
  cpp/src/models.hpp
  cpp/src/player.hpp
  cpp/src/settings.hpp
  cpp/src/utils.hpp
Due: none

cpp: update clang-format config for 21
  cpp/.clang-format
  cpp/src/models.hpp
  cpp/src/utils.hpp
Due: none

cpp: try to fix clang link error
  cpp/CMakeLists.txt
Due: none

cpp: another try for fixing clang link with brew clang
  cpp/CMakeLists.txt
Due: none

cpp: tweak openssl messages
  cpp/CMakeLists.txt
Due: none

clippy lints and cargo update
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/board.rs
  rust/src/main.rs
  rust/src/othello.rs
Due: rust-fmt, rust-clippy

cargo update
  rust/Cargo.lock
Due: none

pre-commit update
  .pre-commit-config.yaml
Due: none

pre-commit: always exclude gradlew from shfmt formatting
  .pre-commit-config.yaml
Due: none

ci: add missing clippy and rustfmt to lint job
  .github/workflows/rust.yml
Due: none

update to gradle 9.1.0
  java/gradle/wrapper/gradle-wrapper.jar
  java/gradle/wrapper/gradle-wrapper.properties
  java/gradlew
  java/gradlew.bat
  kotlin/gradle/wrapper/gradle-wrapper.jar
  kotlin/gradle/wrapper/gradle-wrapper.properties
  kotlin/gradlew
  kotlin/gradlew.bat
Due: none

cpp: update to fmt 12.1.0
  cpp/CMakeLists.txt
Due: none

csharp: update to .net 10 and code updates
  csharp/Othello.Tests/Othello.Tests.csproj
  csharp/Othello/Board.cs
  csharp/Othello/ColorPrint.cs
  csharp/Othello/Models.cs
  csharp/Othello/Othello.cs
  csharp/Othello/Othello.csproj
  csharp/Othello/Player.cs
  csharp/Othello/Settings.cs
  csharp/README.md
  csharp/global.json
Due: dotnet

update formatting style
  csharp/.editorconfig
  csharp/Othello.Tests/TestModels.cs
  csharp/Othello.Tests/TestUtils.cs
  csharp/Othello/Board.cs
  csharp/Othello/ColorPrint.cs
  csharp/Othello/Models.cs
  csharp/Othello/Othello.cs
  csharp/Othello/Othello.csproj
  csharp/Othello/Player.cs
  csharp/Othello/Settings.cs
  csharp/Othello/Utils.cs
  csharp/Othello/Version.cs
  csharp/build.sh
Due: dotnet

fix all warnings
  csharp/Othello/Board.cs
  csharp/Othello/Models.cs
  csharp/Othello/Othello.csproj
  csharp/Othello/Player.cs
  csharp/Othello/Utils.cs
  csharp/Othello/Version.cs
Due: dotnet

tweak build script
  csharp/Othello/Version.cs
  csharp/build.sh
Due: dotnet

simplify stepDirections usage
  csharp/Othello/Board.cs
Due: dotnet
