Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, rust-fmt, rust-clippy, swiftformat

gofmt:
  name: go format
  description: Run gofmt on files included in the commit.
  entry: bash -c 'cd othello_go && gofmt -s -l'
  pass_filenames: true
  language: system

rust-fmt:
  name: rust format
  description: Run cargo fmt on files included in the commit.
  entry: bash -c 'cd othello_rust && cargo fmt'
  pass_filenames: true
  language: system

rust-clippy:
  name: rust lint
  description: Run cargo clippy on files included in the commit.
  entry: bash -c 'cd othello_rust && cargo clippy'
  pass_filenames: false
  language: system

swiftformat:
  name: swift format
  description: Run swiftformat on files included in the commit.
  entry: bash -c 'cd othello_swift && swiftformat --lint .'
  language: system

cargo update
  othello_rust/Cargo.lock
Due: none

rust code improvements
  othello_rust/src/board.rs
  othello_rust/src/othello.rs
Due: rust-fmt, rust-clippy

use argparse and add new cli arguments from rust
  othello_python/othello/board.py
  othello_python/othello/othello.py
  othello_python/othello/player.py
  othello_python/othello/utils.py
Due: none

pre-commit
  othello_kotlin/.gitattributes
  othello_kotlin/gradlew
Due: none

update version
  othello_python/othello/version.py
  othello_python/pyproject.toml
Due: none

update version info
  othello_csharp/Othello/Version.cs
  othello_go/othello/version.go
  othello_python/othello/version.py
  othello_swift/Sources/BuildInfo/include/version.h
Due: gofmt, swiftformat

c++: use `fmt::terminal_color` for consistent colors with others
  othello_cpp/CMakeLists.txt
  othello_cpp/src/board.cpp
  othello_cpp/src/colorprint.hpp
  othello_cpp/src/main.cpp
  othello_cpp/src/othello.cpp
  othello_cpp/src/player.cpp
  othello_cpp/src/utils.hpp
Due: none

kotlin: add bold option to `getColor`
  othello_kotlin/app/src/main/kotlin/othello/ColorPrint.kt
  othello_kotlin/app/src/main/kotlin/othello/Othello.kt
Due: none

swift: add notice to version header
  othello_swift/build.sh
Due: swiftformat

swift: bump version
  othello_swift/Sources/BuildInfo/include/version.h
  othello_swift/build.sh
Due: swiftformat

add utils.cpp
  othello_cpp/CMakeLists.txt
  othello_cpp/src/utils.cpp
  othello_cpp/src/utils.hpp
Due: none

add cxxopts library and new cli options
  othello_cpp/CMakeLists.txt
  othello_cpp/src/main.cpp
  othello_cpp/src/othello.cpp
  othello_cpp/src/othello.hpp
  othello_cpp/src/player.cpp
  othello_cpp/src/player.hpp
Due: none

use OpenSSL to calculate sha256
  othello_cpp/CMakeLists.txt
  othello_cpp/src/board.cpp
  othello_cpp/src/board.hpp
  othello_cpp/src/colorprint.hpp
  othello_cpp/src/main.cpp
  othello_cpp/src/othello.cpp
  othello_cpp/src/othello.hpp
  othello_cpp/src/utils.cpp
  othello_cpp/src/utils.hpp
Due: none

simplify game log
  othello_python/othello/othello.py
  othello_rust/src/othello.rs
Due: rust-fmt, rust-clippy

modernize sha code
  othello_cpp/src/main.cpp
  othello_cpp/src/utils.cpp
  othello_cpp/src/utils.hpp
Due: none

re-order player logic to match others
  othello_python/othello/othello.py
Due: none

update readme
  othello_cpp/README.md
Due: none

reorder link libraries
  othello_cpp/CMakeLists.txt
Due: none

move return outside try-catch
  othello_cpp/src/main.cpp
Due: none

swap increment order
  othello_cpp/src/othello.cpp
Due: none

update readme
  README.md
Due: none

fix long cli arg naming for hints
  othello_cpp/src/main.cpp
  othello_python/othello/othello.py
Due: none

update ruff
  .pre-commit-config.yaml
  othello_python/poetry.lock
  othello_python/pyproject.toml
Due: none

unify naming for sha256 function
  othello_cpp/src/othello.cpp
  othello_cpp/src/utils.cpp
  othello_cpp/src/utils.hpp
  othello_rust/src/othello.rs
  othello_rust/src/utils.rs
Due: rust-fmt, rust-clippy

go cli features
  othello_go/go.mod
  othello_go/go.sum
  othello_go/main.go
  othello_go/othello/board.go
  othello_go/othello/othello.go
  othello_go/othello/player.go
  othello_go/othello/utils.go
Due: gofmt

check windows builds works, update version files
  othello_csharp/Othello/Version.cs
  othello_go/README.md
  othello_go/build.sh
  othello_swift/Sources/BuildInfo/include/version.h
Due: swiftformat

go: clear gamelog after each game
  othello_go/othello/othello.go
Due: gofmt

add sha256 function
  othello_csharp/Othello/Util.cs
Due: none

update version number and pastel library
  othello_csharp/Othello/Othello.csproj
Due: none

add new features for C#
  othello_csharp/Othello/Board.cs
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Othello.csproj
  othello_csharp/Othello/Player.cs
  othello_csharp/Othello/Util.cs
  othello_csharp/Othello/Version.cs
  othello_csharp/README.md
  othello_csharp/build.sh
Due: none

dotnet format
  othello_csharp/Othello/Othello.cs
  othello_csharp/Othello/Player.cs
Due: none

apply suggestions
  othello_csharp/Othello/Board.cs
  othello_csharp/Othello/Othello.cs
Due: none

rename to Utils.cs
  README.md
  othello_csharp/Othello/Utils.cs
  othello_csharp/Othello/Version.cs
Due: none

add max line lenght to editorconfig
  othello_csharp/.editorconfig
Due: none

update swift library
  othello_swift/Package.swift
Due: swiftformat

swift: add color parameter to boardchar
  othello_swift/Sources/othello_swift/utils.swift
Due: swiftformat

swift: bump version
  othello_swift/build.sh
Due: swiftformat

update versions
  othello_csharp/Othello/Version.cs
  othello_python/othello/version.py
  othello_swift/Sources/BuildInfo/include/version.h
Due: swiftformat

swift: implement new feature
  othello_python/othello/utils.py
  othello_python/othello/version.py
  othello_swift/Package.swift
  othello_swift/Sources/BuildInfo/include/version.h
  othello_swift/Sources/othello_swift/board.swift
  othello_swift/Sources/othello_swift/colorprint.swift
  othello_swift/Sources/othello_swift/main.swift
  othello_swift/Sources/othello_swift/othello.swift
  othello_swift/Sources/othello_swift/player.swift
  othello_swift/Sources/othello_swift/utils.swift
Due: swiftformat

Path conditions:
  gofmt: any of: ^othello_go/ and \.go$ and not (^(.idea|.vscode)/)
  rust-fmt: any of: ^othello_rust/ and \.rs$ and not (^(.idea|.vscode)/)
  rust-clippy: any of: ^othello_rust/ and \.rs$ and not (^(.idea|.vscode)/)
  swiftformat: any of: ^othello_swift/, but not: ^(.idea|.vscode)/
