Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, java, kotlin, python, rust-fmt, rust-clippy, swiftformat

.pre-commit-config.yaml:

exclude: ^(.idea|.vscode)/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    # https://github.com/pre-commit/pre-commit-hooks
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
      - id: shfmt
        exclude: "gradlew"

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.5
    hooks:
      - id: clang-format
        name: C++ Clang-format
        files: ^cpp/

  - repo: local
    hooks:
      - id: gofmt
        name: go format
        description: Run gofmt on files included in the commit.
        entry: sh -c 'cd go && gofmt -s -w .'
        pass_filenames: false
        types: [file, go]
        language: system
        files: ^go/

      - id: java
        name: Java format
        description: Run spotless format on files included in the commit.
        entry: sh -c 'cd java && ./gradlew spotlessApply'
        pass_filenames: false
        types: [file, java]
        language: system
        files: ^java/

      - id: kotlin
        name: Kotlin format
        description: Run spotless format on files included in the commit.
        entry: sh -c 'cd kotlin && ./gradlew spotlessApply'
        pass_filenames: false
        types: [file, kotlin]
        language: system
        files: ^kotlin/

      - id: dotnet
        name: Dotnet format
        description: Run dotnet format on files included in the commit.
        entry: sh -c 'cd csharp && dotnet format'
        pass_filenames: false
        types: [file, c#]
        language: system
        files: ^csharp/

      - id: python
        name: Python Ruff
        description: Run Ruff format and lint on files included in the commit.
        entry: sh -c 'cd python && uv run ruff format && uv run ruff check --fix'
        pass_filenames: false
        types: [file, python]
        language: system
        files: ^python/

      - id: rust-fmt
        name: Rust format
        description: Run cargo fmt on files included in the commit.
        entry: sh -c 'cd rust && cargo fmt'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: rust-clippy
        name: Rust lint
        description: Run cargo clippy on files included in the commit.
        entry: sh -c 'cd rust && cargo clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
        files: ^rust/

      - id: swiftformat
        name: Swift format
        description: Run swiftformat on files included in the commit.
        entry: sh -c 'cd swift && command -v swiftformat >/dev/null 2>&1 && swiftformat --lint . || :'
        pass_filenames: false
        types: [file, swift]
        language: system
        files: ^swift/

cargo update
  rust/Cargo.lock
Due: none

cargo update
  rust/Cargo.toml
Due: none

ci: use weekly dependabot schedule
  .github/dependabot.yml
Due: none

Add missing docstrings across Go, Java, C++, C#, Swift, and TypeScript
  cpp/src/player.cpp
  csharp/Othello/Player.cs
  go/othello/board.go
  go/othello/models.go
  go/othello/player.go
  java/src/main/java/othello/Board.java
  java/src/main/java/othello/Player.java
  swift/Sources/Othello/player.swift
  typescript/src/board.ts
  typescript/src/player.ts
  typescript/src/utils.ts
Due: gofmt, java, swiftformat

Unify naming conventions across all language implementations
  csharp/Othello/Board.cs
  csharp/Othello/Models.cs
  csharp/Othello/Othello.cs
  csharp/Othello/Player.cs
  csharp/Othello/Settings.cs
  go/main.go
  go/othello/othello.go
  go/othello/player.go
  go/othello/settings.go
  go/othello/utils.go
  java/src/main/java/othello/Board.java
  java/src/main/java/othello/Main.java
  java/src/main/java/othello/Settings.java
  kotlin-native/src/nativeMain/kotlin/othello/Board.kt
  kotlin-native/src/nativeMain/kotlin/othello/Models.kt
  kotlin-native/src/nativeMain/kotlin/othello/Othello.kt
  kotlin-native/src/nativeMain/kotlin/othello/Player.kt
  kotlin/src/main/kotlin/othello/Board.kt
  kotlin/src/main/kotlin/othello/Models.kt
  kotlin/src/main/kotlin/othello/Othello.kt
  kotlin/src/main/kotlin/othello/Player.kt
  python/othello/board.py
  python/othello/models.py
  rust/src/models.rs
  swift/Sources/Othello/board.swift
  swift/Sources/Othello/models.swift
  typescript/src/othello.ts
  typescript/src/player.ts
  typescript/src/utils.ts
Due: gofmt, java, kotlin, python, rust-fmt, rust-clippy, swiftformat

fix windows platform detection
  common.sh
Due: none

csharp: fix syntax
  csharp/Othello/Othello.cs
Due: none

cpp: fix formatting
  .pre-commit-config.yaml
  cpp/.clang-format
  cpp/src/main.cpp
  cpp/src/othello.cpp
Due: none

cpp: fix scoop openssl find
  cpp/CMakeLists.txt
Due: none

cpp: fix choco openssl include paths
  cpp/CMakeLists.txt
Due: none

cpp: warnings as errors
  cpp/CMakeLists.txt
Due: none

revert pre-commit formatting
  .pre-commit-config.yaml
Due: none

pre-commit: use local clang-format so versions match
  .pre-commit-config.yaml
Due: none

use msvc on windows by default
  cpp/build.sh
Due: none

ci: use windows-2025-vs2026
  .github/workflows/cmake.yml
Due: none

ci: run tests for all
  .github/workflows/go.yml
  .github/workflows/swift.yml
  .github/workflows/typescript.yml
  kotlin-native/gradle/wrapper/gradle-wrapper.jar
  kotlin-native/gradlew
Due: none

kotlin: fix native version string name
  kotlin-native/build.gradle.kts
Due: none

swift: fix build
  swift/Package.swift
Due: swiftformat

swift: update packages and format
  swift/Package.resolved
  swift/Sources/Othello/board.swift
  swift/Sources/Othello/settings.swift
  swift/Sources/OthelloLib/board.swift
  swift/Sources/OthelloLib/settings.swift
  swift/Tests/OthelloTests/BoardTests.swift
  swift/Tests/OthelloTests/ModelsTests.swift
  swift/Tests/OthelloTests/PlayerTests.swift
  swift/Tests/OthelloTests/UtilsTests.swift
Due: swiftformat

swift: fix tests
  swift/Sources/OthelloLib/board.swift
  swift/Sources/OthelloLib/colorprint.swift
  swift/Sources/OthelloLib/models.swift
  swift/Sources/OthelloLib/othello.swift
  swift/Sources/OthelloLib/player.swift
  swift/Sources/OthelloLib/settings.swift
  swift/Sources/OthelloLib/utils.swift
  swift/Sources/OthelloLib/version.swift
Due: swiftformat

swift: silence warnings for let usage
  swift/Tests/OthelloTests/BoardTests.swift
Due: swiftformat

build all
  csharp/Othello/Version.cs
  python/othello/version.py
  swift/Sources/VersionInfo/versionInfo.swift
Due: python, swiftformat

update version handling for csharp and swift
  README.md
  cpp/README.md
  csharp/Othello/Othello.csproj
  csharp/Othello/Version.cs
  csharp/README.md
  csharp/build.sh
  go/README.md
  java/README.md
  kotlin-native/README.md
  kotlin/README.md
  python/README.md
  python/othello/version.py
  rust/README.md
  rust/src/version.rs
  swift/Package.swift
  swift/Plugins/VersionGeneratorPlugin/generate_version.sh
  swift/Plugins/VersionGeneratorPlugin/plugin.swift
  swift/README.md
  swift/Sources/VersionInfo/placeholder.swift
  swift/Sources/VersionInfo/versionInfo.swift
  swift/VERSION
  swift/build.sh
  typescript/README.md
Due: python, rust-fmt, rust-clippy, swiftformat

cargo update
  rust/Cargo.lock
  rust/Cargo.toml
Due: none

ci: use macos-26 for swift for swift 6.3 toolchain
  .github/workflows/swift.yml
Due: none

update help output and improve builds
  cpp/CMakeLists.txt
  cpp/build.sh
  cpp/src/main.cpp
  csharp/README.md
  csharp/build.sh
  go/build.sh
  java/README.md
  java/build.sh
  kotlin-native/build.sh
  kotlin/build.sh
  python/README.md
  python/othello/version.py
  rust/build.sh
  swift/README.md
  swift/Sources/Othello/main.swift
  swift/build.sh
  typescript/README.md
  typescript/src/othello.ts
Due: python, swiftformat

swift: downgrade to 6.2 for github
  README.md
  swift/Package.swift
Due: swiftformat

fix line endings
  java/gradlew.bat
  kotlin/gradlew.bat
Due: none

cargo update
  java/gradlew.bat
  kotlin/gradlew.bat
  rust/Cargo.lock
  rust/Cargo.toml
Due: none

rust: align player defaults with other implementations
  rust/src/othello.rs
  rust/src/player.rs
Due: rust-fmt, rust-clippy

cpp: unify with rust reference implementation
  cpp/src/board.cpp
  cpp/src/board.hpp
  cpp/src/colorprint.hpp
  cpp/src/main.cpp
  cpp/src/models.cpp
  cpp/src/models.hpp
  cpp/src/othello.cpp
  cpp/src/othello.hpp
  cpp/src/player.cpp
  cpp/src/player.hpp
  cpp/src/settings.hpp
  cpp/src/utils.cpp
  cpp/src/utils.hpp
  cpp/src/version.hpp
  cpp/tests/test_board.cpp
  cpp/tests/test_models.cpp
  cpp/tests/test_player.cpp
  cpp/tests/test_utils.cpp
Due: none

java: unify with rust reference implementation
  java/build.gradle.kts
  java/src/main/java/othello/AnsiColor.java
  java/src/main/java/othello/Board.java
  java/src/main/java/othello/ColorPrint.java
  java/src/main/java/othello/Main.java
  java/src/main/java/othello/Models.java
  java/src/main/java/othello/Othello.java
  java/src/main/java/othello/Player.java
  java/src/main/java/othello/PlayerSettings.java
  java/src/main/java/othello/Settings.java
  java/src/test/java/othello/BoardTest.java
  java/src/test/java/othello/MainTest.java
  java/src/test/java/othello/ModelsTest.java
  java/src/test/java/othello/PlayerTest.java
Due: java

go: unify with rust reference implementation
  go/main.go
  go/othello/board.go
  go/othello/board_internal_test.go
  go/othello/board_test.go
  go/othello/colorprint.go
  go/othello/models.go
  go/othello/models_internal_test.go
  go/othello/models_test.go
  go/othello/othello.go
  go/othello/player.go
  go/othello/player_internal_test.go
  go/othello/player_test.go
  go/othello/settings.go
  go/othello/utils.go
  go/othello/utils_internal_test.go
  go/othello/version.go
Due: gofmt

csharp: unify with rust reference implementation
  csharp/Othello.Tests/TestBoard.cs
  csharp/Othello.Tests/TestModels.cs
  csharp/Othello.Tests/TestPlayer.cs
  csharp/Othello.Tests/TestUtils.cs
  csharp/Othello/Board.cs
  csharp/Othello/ColorPrint.cs
  csharp/Othello/Models.cs
  csharp/Othello/Othello.cs
  csharp/Othello/Othello.csproj
  csharp/Othello/Player.cs
  csharp/Othello/Program.cs
  csharp/Othello/Settings.cs
  csharp/Othello/Utils.cs
  csharp/Othello/VersionInfo.cs
Due: none

kotlin: unify both variants with rust reference implementation
  kotlin-native/src/nativeMain/kotlin/othello/Board.kt
  kotlin-native/src/nativeMain/kotlin/othello/ColorPrint.kt
  kotlin-native/src/nativeMain/kotlin/othello/Main.kt
  kotlin-native/src/nativeMain/kotlin/othello/Models.kt
  kotlin-native/src/nativeMain/kotlin/othello/Othello.kt
  kotlin-native/src/nativeMain/kotlin/othello/Player.kt
  kotlin-native/src/nativeMain/kotlin/othello/Settings.kt
  kotlin-native/src/nativeMain/kotlin/othello/Utils.kt
  kotlin-native/src/nativeTest/kotlin/othello/ModelsTest.kt
  kotlin-native/src/nativeTest/kotlin/othello/PlayerTest.kt
  kotlin/src/main/kotlin/othello/Board.kt
  kotlin/src/main/kotlin/othello/ColorPrint.kt
  kotlin/src/main/kotlin/othello/Main.kt
  kotlin/src/main/kotlin/othello/Models.kt
  kotlin/src/main/kotlin/othello/Othello.kt
  kotlin/src/main/kotlin/othello/Player.kt
  kotlin/src/main/kotlin/othello/Settings.kt
  kotlin/src/main/kotlin/othello/Utils.kt
  kotlin/src/test/kotlin/othello/ModelsTest.kt
  kotlin/src/test/kotlin/othello/PlayerTest.kt
Due: kotlin
