Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, dotnet, rust-fmt, rust-clippy, swiftformat

gofmt:
  name: go format
  description: Run gofmt on files included in the commit.
  entry: bash -c 'cd go && gofmt -s -w .'
  pass_filenames: false
  language: system

dotnet:
  name: dotnet format
  description: Run dotnet format on files included in the commit.
  entry: bash -c 'cd csharp && dotnet csharpier'
  pass_filenames: false
  language: system

rust-fmt:
  name: rust format
  description: Run cargo fmt on files included in the commit.
  entry: bash -c 'cd rust && cargo fmt'
  pass_filenames: false
  language: system

rust-clippy:
  name: rust lint
  description: Run cargo clippy on files included in the commit.
  entry: bash -c 'cd rust && cargo clippy'
  pass_filenames: false
  language: system

swiftformat:
  name: swift format
  description: Run swiftformat on files included in the commit.
  entry: bash -c 'cd swift && swiftformat --lint .'
  language: system

fix CI
  .github/workflows/dotnet.yml
Due: none

update workflows
  .github/workflows/cmake.yml
  .github/workflows/dotnet.yml
  .github/workflows/go.yml
  .github/workflows/java.yml
  .github/workflows/kotlin.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  .github/workflows/swift.yml
  .github/workflows/typescript.yml
Due: none

typescript: update commands
  typescript/bun.lock
  typescript/package.json
Due: none

fix version info
  csharp/build.sh
Due: dotnet

Update csharp/Othello/Models.cs
  csharp/Othello/Models.cs
Due: dotnet

fix typo
  csharp/Othello/Models.cs
Due: dotnet

Update .github/workflows/swift.yml
  .github/workflows/swift.yml
Due: none

Update csharp/Othello/Othello.cs
  csharp/Othello/Othello.cs
Due: dotnet

Unify Square comparison operator implementations (#586)
  csharp/Othello/Models.cs
Due: dotnet

Add Copilot instructions for polyglot repository (#588)
  .github/copilot-instructions.md
Due: none

.NET 10 (#584)
  .github/workflows/cmake.yml
  .github/workflows/dotnet.yml
  .github/workflows/go.yml
  .github/workflows/java.yml
  .github/workflows/kotlin.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  .github/workflows/swift.yml
  .github/workflows/typescript.yml
  csharp/.editorconfig
  csharp/Othello.Tests/Othello.Tests.csproj
  csharp/Othello.Tests/TestModels.cs
  csharp/Othello.Tests/TestUtils.cs
  csharp/Othello/Board.cs
  csharp/Othello/ColorPrint.cs
  csharp/Othello/Models.cs
  csharp/Othello/Othello.cs
  csharp/Othello/Othello.csproj
  csharp/Othello/Player.cs
  csharp/Othello/Settings.cs
  csharp/Othello/Utils.cs
  csharp/Othello/Version.cs
  csharp/README.md
  csharp/build.sh
  csharp/global.json
  typescript/bun.lock
  typescript/package.json
Due: dotnet

update main readme
  README.md
Due: none

update copilot instructions
  .github/copilot-instructions.md
Due: none

replace poetry with uv
  python/pyproject.toml
Due: none

python: replace poetry with uv
  .github/copilot-instructions.md
  README.md
  common.sh
  python/README.md
  python/othello.bat
  python/othello/version.py
  python/othello_python.sh
  python/poetry.lock
  python/pyproject.toml
  python/test.sh
  python/uv.lock
Due: none

update ci workflow
  .github/workflows/python.yml
Due: none

use uv action
  .github/workflows/python.yml
Due: none

Python: replace poetry with uv (#589)
  .github/copilot-instructions.md
  .github/workflows/python.yml
  README.md
  common.sh
  python/README.md
  python/othello.bat
  python/othello/version.py
  python/othello_python.sh
  python/poetry.lock
  python/pyproject.toml
  python/test.sh
  python/uv.lock
Due: none

implement Direction and missing affected squares for all languages
  cpp/CMakeLists.txt
  cpp/src/models.hpp
  java/src/main/java/othello/Board.java
  java/src/main/java/othello/Models.java
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.sh
  rust/src/board.rs
  rust/src/models.rs
Due: rust-fmt, rust-clippy

more direction
  cpp/src/board.cpp
  cpp/src/models.cpp
  cpp/src/models.hpp
  csharp/Othello/Models.cs
  java/src/main/java/othello/Models.java
  kotlin/src/main/kotlin/othello/Board.kt
  kotlin/src/main/kotlin/othello/Models.kt
  python/othello/board.py
  python/othello/models.py
Due: dotnet

update pre-commit config
  .pre-commit-config.yaml
Due: none

unpack
  cpp/src/models.cpp
  python/othello/board.py
  python/othello/models.py
Due: none

go direction
  go/.golangci.yml
  go/build.sh
  go/go.mod
  go/go.sum
  go/othello/board.go
  go/othello/models.go
Due: gofmt

python reorder code
  python/othello/models.py
Due: none

go lint fixes
  go/.golangci.yml
  go/README.md
  go/format.sh
  go/go.sum
  go/main.go
  go/othello/board.go
  go/othello/colorprint.go
  go/othello/models.go
  go/othello/othello.go
  go/othello/player.go
  go/othello/settings.go
  go/othello/version.go
  rust/src/main.rs
Due: gofmt, rust-fmt, rust-clippy

csharp: code cleanup and use affectedSquares
  csharp/.editorconfig
  csharp/Othello.Tests/TestModels.cs
  csharp/Othello.Tests/TestUtils.cs
  csharp/Othello/Board.cs
  csharp/Othello/ColorPrint.cs
  csharp/Othello/Models.cs
  csharp/Othello/Othello.cs
  csharp/Othello/Player.cs
  csharp/Othello/Version.cs
  python/othello/othello.py
  rust/src/board.rs
Due: dotnet, rust-fmt, rust-clippy

pre-commit use sh for windows compability and skip swiftformat
  .pre-commit-config.yaml
Due: none

java use affectedSquares
  csharp/Othello/Board.cs
  csharp/Othello/Othello.cs
  java/build.gradle.kts
  java/src/main/java/othello/Board.java
  java/src/main/java/othello/Main.java
  java/src/main/java/othello/Othello.java
  java/src/main/java/othello/PlayerSettings.java
  java/src/main/java/othello/Settings.java
Due: dotnet

kotlin use affectedSquares
  kotlin/src/main/kotlin/othello/Board.kt
  kotlin/src/main/kotlin/othello/Main.kt
  kotlin/src/main/kotlin/othello/Models.kt
  rust/src/models.rs
Due: rust-fmt, rust-clippy

cpp fixes
  cpp/src/models.cpp
  cpp/src/models.hpp
Due: none

bump cpp version
  cpp/CMakeLists.txt
Due: none

rust match other implementations better
  rust/src/main.rs
  rust/src/models.rs
Due: rust-fmt, rust-clippy

bump versions
  .pre-commit-config.yaml
  csharp/Othello/Othello.csproj
  java/build.gradle.kts
  kotlin/build.gradle.kts
  python/format.sh
  python/pyproject.toml
  python/uv.lock
Due: dotnet

update swift code
  swift/.swiftformat
  swift/Package.resolved
  swift/Package.swift
  swift/Sources/Othello/board.swift
  swift/Sources/Othello/colorprint.swift
  swift/Sources/Othello/main.swift
  swift/Sources/Othello/models.swift
  swift/Sources/Othello/player.swift
  swift/Sources/Othello/settings.swift
  swift/Sources/Othello/utils.swift
  swift/Sources/Othello/version.swift
  swift/Sources/VersionInfo/versionInfo.swift
  swift/build.sh
Due: swiftformat

downgrade swift version to 6.1 for GHA
  swift/Package.swift
Due: swiftformat

install swift dependencies in separate step
  .github/workflows/swift.yml
Due: none

fixes and add kotlin tests
  .github/workflows/java.yml
  .github/workflows/kotlin.yml
  build.sh
  cpp/CMakeLists.txt
  csharp/Othello/Version.cs
  csharp/build.sh
  java/src/test/java/othello/UtilsTest.java
  kotlin/README.md
  kotlin/build.gradle.kts
  kotlin/src/main/kotlin/othello/Board.kt
  kotlin/src/main/kotlin/othello/Models.kt
  kotlin/src/main/kotlin/othello/Othello.kt
  kotlin/src/main/kotlin/othello/Player.kt
  kotlin/src/main/kotlin/othello/Settings.kt
  kotlin/src/main/kotlin/othello/Utils.kt
  kotlin/src/test/kotlin/othello/BoardTest.kt
  kotlin/src/test/kotlin/othello/ModelsTest.kt
  kotlin/src/test/kotlin/othello/OthelloTest.kt
  kotlin/src/test/kotlin/othello/PlayerTest.kt
  kotlin/src/test/kotlin/othello/UtilsTest.kt
  python/othello/models.py
  python/othello/version.py
  rust/src/board.rs
  swift/Sources/VersionInfo/versionInfo.swift
Due: dotnet, rust-fmt, rust-clippy, swiftformat

add go lint to pre-commit
  .pre-commit-config.yaml
Due: none

fix java tests
  java/build.gradle.kts
Due: none

Path conditions:
  gofmt: any of: ^go/ and \.go$ and not (^(.idea|.vscode)/)
  dotnet: any of: ^csharp/, but not: ^(.idea|.vscode)/
  rust-fmt: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  rust-clippy: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  swiftformat: any of: ^swift/, but not: ^(.idea|.vscode)/
