Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, dotnet, rust-fmt, rust-clippy, swiftformat

gofmt:
  name: go format
  description: Run gofmt on files included in the commit.
  entry: bash -c 'cd go && gofmt -s -w .'
  pass_filenames: false
  language: system

dotnet:
  name: dotnet format
  description: Run dotnet format on files included in the commit.
  entry: bash -c 'cd csharp && dotnet csharpier'
  pass_filenames: false
  language: system

rust-fmt:
  name: rust format
  description: Run cargo fmt on files included in the commit.
  entry: bash -c 'cd rust && cargo fmt'
  pass_filenames: false
  language: system

rust-clippy:
  name: rust lint
  description: Run cargo clippy on files included in the commit.
  entry: bash -c 'cd rust && cargo clippy'
  pass_filenames: false
  language: system

swiftformat:
  name: swift format
  description: Run swiftformat on files included in the commit.
  entry: bash -c 'cd swift && swiftformat --lint .'
  language: system

cpp: fix header include for tests
  cpp/tests/CMakeLists.txt
Due: none

cpp: cmake improvements
  .github/workflows/cmake.yml
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Due: none

swift: split utils to types
  swift/Sources/BuildInfo/include/version.h
  swift/Sources/othello_swift/types.swift
  swift/Sources/othello_swift/utils.swift
  swift/build.sh
Due: swiftformat

python: split utils to types
  python/othello/board.py
  python/othello/othello.py
  python/othello/player.py
  python/othello/types.py
  python/othello/utils.py
  python/poetry.lock
  python/tests/test_player.py
  python/tests/test_types.py
  python/tests/test_utils.py
Due: none

rename `types` to `models` since Python already has types
  cpp/CMakeLists.txt
  cpp/src/models.cpp
  cpp/src/models.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_models.cpp
  python/othello/board.py
  python/othello/models.py
  python/othello/othello.py
  python/othello/player.py
  python/othello/settings.py
  python/othello/version.py
  python/pyproject.toml
  python/tests/test_models.py
  python/tests/test_player.py
  python/tests/test_utils.py
  rust/src/board.rs
  rust/src/main.rs
  rust/src/models.rs
  rust/src/othello.rs
  rust/src/player.rs
  swift/Sources/othello_swift/models.swift
Due: rust-fmt, rust-clippy, swiftformat

kotlin: split utils to models
  kotlin/app/build.gradle.kts
  kotlin/app/src/main/kotlin/othello/Models.kt
  kotlin/app/src/main/kotlin/othello/Utils.kt
  kotlin/app/src/main/kotlin/othello/Version.kt
Due: none

rust: match version function name
  rust/src/main.rs
  rust/src/version.rs
Due: rust-fmt, rust-clippy

cpp: fix include
  cpp/src/utils.hpp
  cpp/tests/test_models.cpp
Due: none

go: update help
  go/main.go
Due: gofmt

go: split code to settings, models, and version
  go/README.md
  go/build.sh
  go/main.go
  go/othello/models.go
  go/othello/settings.go
  go/othello/utils.go
  go/othello/version.go
Due: gofmt

go: refactor main
  go/main.go
  go/othello/othello.go
Due: gofmt

csharp: implement check mode and split code to settings and models
  csharp/Othello.Tests/TestModels.cs
  csharp/Othello.Tests/TestUtils.cs
  csharp/Othello/Models.cs
  csharp/Othello/Othello.cs
  csharp/Othello/Othello.csproj
  csharp/Othello/Player.cs
  csharp/Othello/Settings.cs
  csharp/Othello/Utils.cs
  csharp/Othello/Version.cs
  csharp/README.md
Due: dotnet

rust: move player settings to settings
  rust/src/player.rs
  rust/src/settings.rs
  rust/src/version.rs
Due: rust-fmt, rust-clippy

update readme
  README.md
Due: none

pre-commit update and run
  .pre-commit-config.yaml
  csharp/global.json
Due: dotnet

tweak readme
  README.md
Due: none

java: implement colorprint
  java/app/src/main/java/othello/AnsiColor.java
  java/app/src/main/java/othello/ColorPrint.java
  java/app/src/main/java/othello/Main.java
Due: none

java: start implementation, add CLI args and settings
  java/.editorconfig
  java/app/build.gradle.kts
  java/app/src/main/java/othello/App.java
  java/app/src/main/java/othello/Main.java
  java/app/src/main/java/othello/Settings.java
  java/app/src/test/java/othello/AppTest.java
  java/app/src/test/java/othello/MainTest.java
Due: none

java: use colorprint and add utils
  java/app/src/main/java/othello/Main.java
  java/app/src/main/java/othello/Utils.java
Due: none

java: add gradle project
  java/.gitattributes
  java/.gitignore
  java/README.md
  java/app/build.gradle.kts
  java/app/src/main/java/othello/App.java
  java/app/src/test/java/othello/AppTest.java
  java/gradle.properties
  java/gradle/libs.versions.toml
  java/gradle/wrapper/gradle-wrapper.jar
  java/gradle/wrapper/gradle-wrapper.properties
  java/gradlew
  java/gradlew.bat
  java/settings.gradle.kts
Due: none

pre-commit run
  java/.gitattributes
  java/gradle.properties
  java/gradlew
Due: none

cargo update
  rust/Cargo.lock
Due: none

rust: update to 2024 edition
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/main.rs
Due: rust-fmt, rust-clippy

match versions strings for all programs
  csharp/Othello/Version.cs
  go/othello/version.go
  python/othello/version.py
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
  rust/src/version.rs
  swift/Sources/BuildInfo/include/version.h
Due: gofmt, dotnet, rust-fmt, rust-clippy, swiftformat

use utc time for build timestamp
  common.sh
  csharp/Othello/Version.cs
  kotlin/app/build.gradle.kts
  kotlin/app/src/main/kotlin/othello/Version.kt
  python/othello/version.py
  rust/build.rs
  rust/src/version.rs
  swift/Sources/BuildInfo/include/version.h
Due: dotnet, rust-fmt, rust-clippy, swiftformat

bump minor versions
  cpp/CMakeLists.txt
  csharp/Othello/Othello.csproj
  csharp/Othello/Version.cs
  go/build.sh
  kotlin/app/build.gradle.kts
  python/othello/version.py
  python/poetry.lock
  python/pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
  swift/Sources/BuildInfo/include/version.h
  swift/build.sh
Due: dotnet, swiftformat

kotlin: tweak docstring formatting
  kotlin/app/src/main/kotlin/othello/Models.kt
Due: none

cpp: update fmt
  cpp/CMakeLists.txt
Due: none

cpp: move default settings and reformat with clang-format 20
  cpp/.clang-format
  cpp/src/board.cpp
  cpp/src/main.cpp
  cpp/src/othello.cpp
  cpp/src/settings.hpp
  cpp/src/utils.hpp
Due: none

cpp: use concepts for color print templates
  cpp/src/colorprint.hpp
Due: none

move default settings to settings
  kotlin/app/src/main/kotlin/othello/Settings.kt
  kotlin/app/src/main/kotlin/othello/Utils.kt
  python/othello/othello.py
  python/othello/settings.py
  python/othello/utils.py
  python/othello/version.py
  rust/src/main.rs
  rust/src/othello.rs
  rust/src/settings.rs
  rust/src/utils.rs
Due: rust-fmt, rust-clippy

cpp: enable native optimizations
  cpp/CMakeLists.txt
Due: none

cpp: add string formatting for settings
  cpp/src/settings.hpp
Due: none

cpp: use deprecated clang-format option since gha linux version is old
  .github/workflows/cmake.yml
  cpp/.clang-format
Due: none

cpp: use mac to run clang-format
  .github/workflows/cmake.yml
  cpp/.clang-format
Due: none

Path conditions:
  gofmt: any of: ^go/ and \.go$ and not (^(.idea|.vscode)/)
  dotnet: any of: ^csharp/, but not: ^(.idea|.vscode)/
  rust-fmt: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  rust-clippy: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  swiftformat: any of: ^swift/, but not: ^(.idea|.vscode)/
