Repository Esgrove/othellogame: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, dotnet, rust-fmt, rust-clippy, swiftformat

gofmt:
  name: go format
  description: Run gofmt on files included in the commit.
  entry: bash -c 'cd go && gofmt -s -w .'
  pass_filenames: false
  language: system

dotnet:
  name: dotnet format
  description: Run dotnet format on files included in the commit.
  entry: bash -c 'cd csharp && dotnet csharpier'
  pass_filenames: false
  language: system

rust-fmt:
  name: rust format
  description: Run cargo fmt on files included in the commit.
  entry: bash -c 'cd rust && cargo fmt'
  pass_filenames: false
  language: system

rust-clippy:
  name: rust lint
  description: Run cargo clippy on files included in the commit.
  entry: bash -c 'cd rust && cargo clippy'
  pass_filenames: false
  language: system

swiftformat:
  name: swift format
  description: Run swiftformat on files included in the commit.
  entry: bash -c 'cd swift && swiftformat --lint .'
  language: system

fix python print
  csharp/Othello/Version.cs
  python/othello/board.py
  python/othello/version.py
  swift/Sources/BuildInfo/include/version.h
Due: dotnet, swiftformat

rebuild all
  csharp/Othello/Version.cs
  python/othello/version.py
  swift/Sources/BuildInfo/include/version.h
Due: dotnet, swiftformat

remove isort from pre-commit
  .pre-commit-config.yaml
  python/othello/board.py
Due: none

update tests
  python/tests/test_player.py
Due: none

Update to C++23 and add code improvements
  cpp/CMakeLists.txt
  cpp/src/board.cpp
  cpp/src/utils.cpp
  cpp/src/utils.hpp
Due: none

add additional color print helper methods for common colors
  cpp/src/board.cpp
  cpp/src/colorprint.hpp
  cpp/src/main.cpp
Due: none

code improvements, match c++ implementation to rust
  cpp/src/main.cpp
  cpp/src/othello.cpp
  cpp/src/othello.hpp
  cpp/src/utils.hpp
  rust/src/main.rs
  rust/src/othello.rs
  rust/src/utils.rs
Due: rust-fmt, rust-clippy

update description for all implementations
  cpp/CMakeLists.txt
  cpp/src/main.cpp
  csharp/Othello/Othello.cs
  go/main.go
  kotlin/app/src/main/kotlin/othello/Main.kt
  python/othello/othello.py
  python/pyproject.toml
  rust/Cargo.toml
  rust/src/main.rs
  swift/Sources/othello_swift/main.swift
Due: gofmt, dotnet, rust-fmt, rust-clippy, swiftformat

cargo update
  rust/Cargo.lock
  rust/build.sh
Due: none

dotnet: format code
  csharp/Othello/Othello.cs
Due: dotnet

rename function
  cpp/src/main.cpp
Due: none

enable dotnet-sdk dependabot updates
  .github/dependabot.yml
Due: none

update lang versions in workflows
  .github/workflows/dotnet.yml
  .github/workflows/go.yml
  .github/workflows/python.yml
  .github/workflows/swift.yml
Due: none

update to dotnet 9
  csharp/global.json
Due: dotnet

comment out swift-actions/setup-swift
  .github/workflows/swift.yml
Due: none

Dotnet 9 (#270)
  .github/dependabot.yml
  .github/workflows/dotnet.yml
  .github/workflows/go.yml
  .github/workflows/python.yml
  .github/workflows/swift.yml
  csharp/global.json
Due: dotnet

build all
  csharp/Othello/Version.cs
  python/othello/version.py
  swift/Sources/BuildInfo/include/version.h
Due: dotnet, swiftformat

readme updates
  README.md
  cpp/README.md
  csharp/Othello/Othello.csproj
  csharp/README.md
Due: dotnet

implement check mode for cpp
  cpp/src/board.hpp
  cpp/src/othello.cpp
  cpp/src/player.cpp
  cpp/src/player.hpp
  cpp/src/utils.hpp
  rust/Cargo.lock
  rust/Cargo.toml
  rust/clippy.toml
  rust/src/othello.rs
  rust/src/player.rs
  rust/src/utils.rs
Due: rust-fmt, rust-clippy

add check mode for python and update project
  python/othello/othello.py
  python/othello/player.py
  python/othello/utils.py
  python/poetry.lock
  python/pyproject.toml
  rust/src/main.rs
Due: rust-fmt, rust-clippy

add poetry run script
  python/README.md
  python/poetry.lock
  python/pyproject.toml
Due: none

bump versions and rebuild
  csharp/Othello/Version.cs
  python/othello/version.py
  rust/Cargo.lock
  rust/Cargo.toml
  swift/Sources/BuildInfo/include/version.h
Due: dotnet, swiftformat

python: fix check mode args
  python/othello/othello.py
Due: none

exclude gradlew shell script from shfmt in pre-commit
  .pre-commit-config.yaml
  kotlin/gradlew
Due: none

add dotnet version to gha cache
  .github/workflows/dotnet.yml
Due: none

update ruff
  python/poetry.lock
  python/pyproject.toml
Due: none

reorder executables to run slow ones last
  check_all.sh
Due: none

cpp: use fmt::print for help output
  cpp/src/main.cpp
Due: none

go: add check mode and update linter config
  go/.golangci.yml
  go/main.go
  go/othello/othello.go
  go/othello/player.go
  go/othello/utils.go
Due: gofmt

go: docstring updates
  go/main.go
  go/othello/board.go
  go/othello/colorprint.go
  go/othello/othello.go
  go/othello/player.go
  go/othello/utils.go
Due: gofmt

go: update args
  go/build.sh
  go/main.go
Due: gofmt

go: update readme
  go/README.md
Due: none

remove isort from python workflow
  .github/workflows/python.yml
Due: none

add readme
  node/README.md
Due: none

add commander for cli handling
  node/package-lock.json
  node/package.json
  node/src/othello.js
  node/src/othello.ts
  node/tsconfig.json
Due: none

update configs and add eslint and prettier
  node/.editorconfig
  node/.eslintignore
  node/.eslintrc.json
  node/.prettierignore
  node/.prettierrc
  node/package-lock.json
  node/package.json
  node/src/othello.ts
  node/tsconfig.json
Due: none

add node typescript project
  node/.gitignore
  node/cli.js
  node/package-lock.json
  node/package.json
  node/tsconfig.json
Due: none

rename node subdir to typescript
  typescript/.editorconfig
  typescript/.eslintignore
  typescript/.eslintrc.json
  typescript/.gitignore
  typescript/.prettierignore
  typescript/.prettierrc
  typescript/README.md
  typescript/cli.js
  typescript/package-lock.json
  typescript/package.json
  typescript/src/othello.js
  typescript/src/othello.ts
  typescript/tsconfig.json
Due: none

continue typescript implementation
  typescript/README.md
  typescript/deno.lock
  typescript/package.json
  typescript/src/board.ts
  typescript/src/othello.ts
  typescript/src/player.ts
  typescript/src/utils.ts
  typescript/tsconfig.json
Due: none

create haskell project
  othello_haskell/.gitignore
  othello_haskell/CHANGELOG.md
  othello_haskell/LICENSE
  othello_haskell/README.md
  othello_haskell/app/ColorPrint.hs
  othello_haskell/app/Main.hs
  othello_haskell/othello.cabal
Due: none

Path conditions:
  gofmt: any of: ^go/ and \.go$ and not (^(.idea|.vscode)/)
  dotnet: any of: ^csharp/, but not: ^(.idea|.vscode)/
  rust-fmt: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  rust-clippy: any of: ^rust/ and \.rs$ and not (^(.idea|.vscode)/)
  swiftformat: any of: ^swift/, but not: ^(.idea|.vscode)/
